<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhy.dao.tobacco.BaccoOrigMapper">

	<sql id="list_where">
		<if test="search_key !=null and search_key !=''">
			AND( 
			FARMER_NAME LIKE CONCAT(CONCAT('%', #{search_key}), '%') 
			OR ID_CARD LIKE CONCAT(CONCAT('%', #{search_key}), '%') 
			OR ADD_NAME LIKE CONCAT(CONCAT('%', #{search_key}), '%')
			OR ORG_CD LIKE CONCAT(CONCAT('%', #{search_key}), '%')
			)
		</if>
		<if test="start_date !=null and start_date !=''">
			and to_char(RECORD_TIME,'yyyy-MM-dd') &gt;= #{start_date}
		</if>
		
		<if test="end_date !=null and end_date !=''">
			and to_char(RECORD_TIME,'yyyy-MM-dd') &lt;= #{end_date}
		</if>
		<choose>
				<when test="status != null and status != ''">
					and status= #{status}
				</when>
				<otherwise>
					and (
						status is null
						or status=0
					)
				</otherwise>
		</choose>
		<!-- 根据code权限拦截 -->
		<if test="code !=null and code !=''">
			and ORG_CD LIKE CONCAT(#{code}, '%')
		</if>
	</sql>
	<!-- 查询分页总条数 -->
	<select id="listCount" resultType="int" parameterType="map">
		select count(*) from (SELECT DISTINCT INVOICE_NO FROM SXYC_TAX_INVOICE_ORIG${suffix}
		WHERE 1 = 1
		<include refid="list_where"></include>
		)
	</select>
	<!-- 分页查询 -->
	<select id="list" resultType="map" parameterType="map">
		SELECT
		
		INVOICE_NO,TO_CHAR(BUSINESS_DATE,'YYYY-MM-DD HH24:MI:SS') BUSINESS_DATE , ORG_CD , TO_CHAR(RECORD_TIME,'YYYY-MM-DD HH24:MI:SS') RECORD_TIME ,SCALE_COUNT,
		FARMER_CD,FARMER_NAME,ID_CARD,ADD_CD,ADD_NAME,SUM_WEIGHT,
		SUM_AMOUNT,SUM_SUB_AMOUNT1,SUM_SUB_AMOUNT2,SUM_SUB_AMOUNT3,SUM_SUB_AMOUNT4,SUM_DEDUCT_AMOUNT,JYLSH
		FROM (SELECT ROWNUM RN, T.* FROM (

		SELECT DISTINCT s1.INVOICE_NO,BUSINESS_DATE , ORG_CD , RECORD_TIME ,
		SCALE_COUNT,FARMER_CD,FARMER_NAME,ID_CARD,ADD_CD,ADD_NAME,SUM_WEIGHT,
		SUM_AMOUNT,SUM_SUB_AMOUNT1,SUM_SUB_AMOUNT2,SUM_SUB_AMOUNT3,SUM_SUB_AMOUNT4,
		SUM_DEDUCT_AMOUNT,S2.ID JYLSH  FROM SXYC_TAX_INVOICE_ORIG${suffix} s1 left join SXYC_ORIG_INVOICE${suffix} s2
		on s1.INVOICE_NO=s2.INVOICE_NO
		
		WHERE 1 = 1
		
		<include refid="list_where"></include>
		<choose>
				<when test="status != null and status != ''">
					ORDER BY JYLSH desc
				</when>
				<otherwise>
					ORDER BY RECORD_TIME
				</otherwise>
		</choose>
		) T WHERE 1=1
		<if test="end !=null and end !=''">
			AND ROWNUM &lt;= #{end}
		</if>
		) WHERE 1=1
		<if test="start !=null and start !=''">
			AND RN &gt;= #{start}
		</if>
		
	</select>
	<!-- 获取收购详情 -->
	<select id="listDetail" resultType="map" parameterType="map">
		select id, farmer_name, invoice_no,
		invoice_id, level_no, level_name, price, weight, amount, sub_price1, sub_amount1, sub_price2, 
		sub_amount2, sub_price3, sub_amount3, sub_price4, sub_amount4, deduct_amount ,status
		from sxyc_tax_invoice_orig${suffix}
		where invoice_no=#{invoice_no}
		ORDER BY invoice_id
	</select>
	<!-- 获取公共信息 -->
	<select id="getCommonInfo" resultType="map" parameterType="map">
		SELECT T.FARMER_CD, T.FARMER_NAME ,T.ID_CARD,T.ADD_NAME,
		F.ID FARMERID, F.BANK_CODE,F.BANK_NAME,F.BANK_ACNT 
		FROM SXYC_TAX_INVOICE_ORIG${suffix} T LEFT JOIN BASE_FARMER F 
		ON T.ID_CARD =F.ID_CARD
		WHERE 
		T.ID_CARD=#{id_card}
		AND ROWNUM=1
	</select>
	<!-- 获取待开票明细 -->
	<select id="getItems" resultType="map" parameterType="map">
		select 
	    t.level_no,t.level_name,
	    avg(t.price) price ,sum(t.weight) weight,sum(t.amount) amount, 
	    avg(t.sub_price1) sub_price1 ,sum(t.sub_amount1) sub_amount1,
	    avg(t.sub_price2) sub_price2,sum(t.sub_amount2) sub_amount2,
	    avg(t.sub_price3) sub_price3,sum(t.sub_amount3) sub_amount3,
	    avg(t.sub_price4) sub_price4,sum(t.sub_amount4) sub_amount4,
	    sum(deduct_amount) deduct_amount
	    from sxyc_tax_invoice_orig${suffix} t
	    where id_card=#{id_card}
	    and invoice_no in
	    <foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	    group by  t.level_no,t.level_name
	</select>
<!-- 中间表操作 -->
	<!-- 插入中间表 -->
	<insert id="insertOrigToInvoice" parameterType="map">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			SELECT SYS_GUID() FROM DUAL
		</selectKey>
		INSERT INTO SXYC_ORIG_INVOICE${suffix} (INVOICE_NO,ID)
		select DISTINCT INVOICE_NO ,#{id} ID 
		from sxyc_tax_invoice_orig${suffix}  
		where invoice_no  in 
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</insert>
	<!-- 删除中间表 -->
	<delete id="deleteOrigToInvoice" parameterType="map">
		delete SXYC_ORIG_INVOICE${suffix}
		where INVOICE_NO in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 删除中间表 -->
	<delete id="deleteOrigToInvoice1" parameterType="map">
		delete SXYC_ORIG_INVOICE${suffix}
		where id =#{jylsh}
	</delete>
	<!-- 查看中间表 -->
	<select id="getOrigToInvoice" parameterType="map" resultType="map">
		select INVOICE_NO from  SXYC_ORIG_INVOICE${suffix}
		where id =#{jylsh}
	</select>
	<!-- 修改数据源状态 -->
	<update id="update" parameterType="map">
		update sxyc_tax_invoice_orig${suffix}
		set 
		status=#{status}
		where invoice_no in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
</mapper>