<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhy.dao.security.LoginMapper">

	<!-- 获取登录用户 -->
	<select id="login" resultType="map" parameterType="map">

		SELECT
		ID, DEPARTID, DEPARTNAME, USERNAME, NAME, PHONE, EMAIL, REMARKS,
		TO_CHAR(CREATETIME,'yyyy-MM-dd HH24:mi:ss') CREATETIME, ENABLED
		FROM BASE_USER
		WHERE 1 = 1
		AND USERNAME=#{username}
		AND PASSWORD=#{password}
		AND ROWNUM=1
	</select>
	<select id="queryDefaultPasswordFlag" parameterType="map" resultType="int">
		SELECT count(1) FROM BASE_USER
		WHERE ID=#{id} AND PASSWORD=#{newPsw}
		  
	</select>
	
	<!-- 获取用户权限 -->
	<select id="queryAllRolePrivilege" resultType="map" parameterType="map">
		SELECT DISTINCT T1.*
		FROM BASE_PRIVILEGE T1
		ORDER BY T1.PTYPE ASC,T1.PID ASC,T1.ORDERBY ASC
	</select>
	<!-- 获取用户权限 -->
	<select id="queryRolePrivilege" resultType="map" parameterType="map">
		SELECT DISTINCT T1.*
		FROM BASE_PRIVILEGE T1
		INNER JOIN BASE_ROLE_PRIVILEGE RP ON T1.ID=RP.PRIVILEGE
		INNER JOIN BASE_ROLE_USER RU ON RP.ROLE=RU.ROLE
		INNER JOIN BASE_USER U ON RU.USERID=U.ID
		WHERE U.ID=#{ID}
		ORDER BY T1.PTYPE ASC,T1.PID ASC,T1.ORDERBY ASC
	</select>

	<select id="getOldPassword" resultType="string" parameterType="map">
		SELECT PASSWORD FROM BASE_USER WHERE ID=#{id}
	</select>
	<update id="updatePassword" parameterType="map">
		UPDATE BASE_USER
		SET
		PASSWORD=#{password}
		WHERE ID=#{id}
	</update>


	<select id="getUser" resultType="map" parameterType="map">
		SELECT *
		FROM BASE_USER WHERE ID=#{id}
	</select>
	<select id="getDeptInfo" resultType="map" parameterType="map">
		SELECT T.ID,T.NAME,T.CODE,T.PID,T.DESCRIPTION,T.ADDRESS,
		T.PHONE,T.CONTACTS,T.AREAS,T.ORDERBY,
		TO_CHAR(T.CREATETIME,'YYYY-MM-DD HH24:MI:SS') CREATETIME,
		T.KPZDBS,T1.NSRSBH,T1.NAME NSRNAME,T1.DZDH,T1.YHZH 
		FROM BASE_DEPART T LEFT JOIN BASE_NSRINFO T1
		ON T.NSRID=T1.ID
		WHERE T.ID=#{id}
	</select>
</mapper>